<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'myapp/css/signup.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/nav.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
  <title>Document</title>
</head>
<style>
  #bg{
    background:linear-gradient(45deg, rgb(148, 13, 13), rgb(66, 23, 158),rgb(60 13 10)  );
    background-color: rgba(0, 0,0, 0.5);
  }
</style>
<body class="bg">
  <div class="container-fluid  bg-dark ">
    {% include 'myapp/navbar.html' %}

</div>
    
  <div class="container">
      <div class="py-5 text-center bg-secondary  text-white" id="bg" >
          <h1 class="mb-3">Upload Image</h1>
          <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{form}}
              <input type="submit" value="Upload" class="btn btn-danger">
          </form>
      </div>
      <div class="row">

            {% for x in img %}

            <div class="col-sm-4">

                <div class="card m-2">

                <img src="{{x.photo.url}}" alt="" class=" card-img-top "  height="150px" >
                <div class="card-footer">
                <small class="text-muted"> {{x.date}} </small>
                </div>
                </div>

            </div>

            {% endfor%}

      </div>
  </div>

  
  
  <script src="{% static 'myapp/js/jquery.js' %}"></script>
  <script src="{% static 'myapp/js/popper.js' %}"></script>
  <script src="{% static 'myapp/js/bootstrap.js' %}"></script>
</body>
</html>