<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    <title>home</title>
    <style>
      .bg{
        background: linear-gradient(45deg ,rgb(0 0 0),rgb(236, 5, 5));
      }  
    </style>
</head>
<body class="bg" >
    <div class="container-fluid Bg ">
        {% include 'myapp/navbar.html' %}
    
    </div >
    <div class="row " hight="150px" width="100px" >
        {% for x in img %}

        <div class="col-sm-4">
    
            <div class="card m-2">
    
            <img src="{{x.photo.url}}" alt="" class=" card-img-top "  height="150px" >
            <div class="card-footer">
            <small class="text-muted"> {{x.date}} </small>
            </div>
            </div>
    
        </div>
    
        {% endfor%}


    </div>
    <script src="{% static  'mayapp/js/jquery.js' %}"></script>
    <script src="{% static  'myapp/js/popper.js' %}"></script>
    <script src="{% static  'myapp/js/bootstrap.js' %}"></script>

</body>
</html>